.SketchPad{
display: flex;
width: 500px;
height: 500px;
flex-wrap: wrap;
align-content: flex-start;
border: 1px solid black;

}

divInner{
    height: 50px;
    width: 50px;
background-color: aqua;
}

.divShadow{
    height: 50px;
    width: 50px;
    box-shadow: 0px 0px 2.5px;
}